<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>checkers.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA799EAE2B1B5C62003FD1CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA799EBE2B1B5C68003FD1CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA799EC82B1B5C69003FD1CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
